
body
{
direction:rtl;
   font-family: 'Traditional Arabic', "Trebuchet MS", Arial, Helvetica, Sans-Serif;
   margin: 0;
   background: #FFFFFF;
   color: #000000;
}

ul
{
    -moz-padding-start: 0px;
    margin: 0;
    padding-right: 15px;
}

.BodyContent
{
   position: relative;
   right: 0px;
   top: 0px;
   width: 100%;
   margin: 0px auto 0px auto;
}

.BackgroundGradient
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('images/BackgroundGradient.png') repeat-x;
}
.Border
{
   width: 900px;
   margin: 10px auto;
}

.Border
{
   z-index: 0;
   position: relative; 
   color: #000000;
}

.BorderContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 8px 8px 8px 8px;
}

.Border a
{
   color: #2A2402;
text-decoration: underline;
}

.Border a:visited
{
   color: #2A2402;
text-decoration: underline;
}

.Border a:hover
{
   color: #000000;
text-decoration: none;
}

.BorderTL, .BorderTR, .BorderBL, .BorderBR, .BorderL, .BorderT, .BorderR, .BorderB, .BorderC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.BorderTL, .BorderTR, .BorderBL, .BorderBR
{
   width: 22px;
   height: 22px;
}
.BorderTL
{
   top: 0;
   right: 0;
   background-image: url('images/BorderCorners.png');
}

.BorderTR div, .BorderBL div, .BorderBR div
{
    height: 44px;
    width:  44px;
    position: absolute;
    z-index: -1;
    background-image: url('images/BorderCorners.png');
}

.BorderTR div
{
    right: -22px;
}

.BorderBL div
{
    top: -22px;
}

.BorderBR div
{
    right: -22px;
    top: -22px;
}

.BorderTR
{
   top: 0;
   left: 0;
}
.BorderBL
{
   bottom: 0;
   right: 0;
}
.BorderBR
{
   bottom: 0;
   left: 0;
}
.BorderT, .BorderB
{
   right: 22px;
   left: 22px;
   height: 22px;
}


.BorderT
{
   top: 0;
   background-image: url('images/BorderHorizontal.png');
}

.BorderB
{
   bottom: 0;
}

.BorderB div
{
    position: absolute;
    z-index: -1;
    top: -22px;
    height: 44px;
    width: 100%;
    background-image: url('images/BorderHorizontal.png');
}

.BorderL, .BorderR
{
   top: 22px;
   bottom: 22px;
   width: 22px;
}
.BorderL
{
   right: 0;
   background-image: url('images/BorderVertical.png');
}
.BorderR
{
   left: 0;
}
.BorderR div
{
    position: absolute;
    z-index: -1;
    right: -22px;
    width: 44px;
    height: 100%;
    background-image: url('images/BorderVertical.png');
}
.BorderC
{
   right: 22px;
   top: 22px;
   left: 22px;
   bottom: 22px;
   background-image: url('images/BorderCenter.png');
}

.Header
{
   position: relative;
   background-image: url('images/Header.png');
   background-repeat: no-repeat;
   padding: 0px;  
   height: 150px;
   color: #FFFFFF;
}

.HeaderTitle
{
   height: 150px;
   width: 900px;
   display: table-cell;
   text-align: Default;
   vertical-align: Top;
}

.HeaderTitle h1 a, .HeaderTitle h1 a:link, .HeaderTitle h1 a:visited, .HeaderTitle h1 a:hover  
{
   text-decoration: none;
   color: #FFFFFF;
}

.HeaderTitle h1
{  
   margin: 0px;
   padding: 0px 8px; 
}

.HeaderTitle h2
{
   margin: 0px;
   padding: 0px 8px; 
}

.Menu
{
   background: transparent url('images/MenuBar.png') no-repeat;
   padding: 0px 9px 0px 9px;
   margin: 0px;
   text-align: Default;
}

.Menu ul
{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   color: #FCFAF3;
}

.Menu li
{
   display: inline;
   padding: 0px;
   margin: 0px;
}

.MenuButton, .MenuButtonInput
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/MenuButtonAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 35px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.MenuButton span, .MenuButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/MenuButton.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FCFAF3;
    line-height: 15px;
}

.MenuButton span
{
    padding: 10px 0px 10px 18px;
}

.MenuButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:35px;
}

.MenuButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 35px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.MenuButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.MenuButton, .MenuButton:link, .MenuButton:visited, .MenuButton:hover, .MenuButton:active
{
    text-decoration: none !important;
    outline: none;
}

.MenuButton:hover, .MenuButtonInput:hover
{
    background-position: right center;
}

.MenuButton:hover span, .MenuButtonInput:hover span
{
    background-position: left center;
    color: #FFFFFF;
}

.MenuButton:active, .MenuButtonInput:active
{
    background-position: right bottom;
}

.MenuButton:active span, .MenuButtonInput:active span
{
    background-position: left bottom;
    color: #000000;
} 

.ActiveMenuButton, .ActiveMenuButtonInput
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 35px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.ActiveMenuButton span, .ActiveMenuButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/ActiveMenuButton.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FCFAF3;
    line-height: 15px;
}

.ActiveMenuButton span
{
    padding: 10px 0px 10px 18px;
}

.ActiveMenuButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:35px;
}

.ActiveMenuButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 35px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.ActiveMenuButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.ActiveMenuButton, .ActiveMenuButton:link, .ActiveMenuButton:visited, .ActiveMenuButton:hover, .ActiveMenuButton:active
{
    text-decoration: none !important;
    outline: none;
}

.ActiveMenuButton:hover, .ActiveMenuButtonInput:hover
{
    background-position: right center;
}

.ActiveMenuButton:hover span, .ActiveMenuButtonInput:hover span
{
    background-position: left center;
    color: #FFFFFF;
}

.ActiveMenuButton:active, .ActiveMenuButtonInput:active
{
    background-position: right bottom;
}

.ActiveMenuButton:active span, .ActiveMenuButtonInput:active span
{
    background-position: left bottom;
    color: #000000;
} 

.Columns
{
   overflow:hidden;
}

.Column1
{
    overflow:hidden;
    float:left;
    width:20%;
}

.Column2
{
    overflow:hidden;
    float:left;
    width:20%;
}

.MainColumn
{
    overflow:hidden;
}

img
{
    border: 0px;
}

h2
{
   margin: 0px;
}

blockquote
{
    width: 80%;
    color: #000000;
    border: solid 1px #333333;
    background: #FFFFFF;
    margin: 0px auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

blockquote a, blockquote a:link
{
    color: #605106 !important;
    text-decoration: underline;
}

blockquote a:visited
{
    color: #605106 !important;
    text-decoration: underline;
}

blockquote a:hover
{
    color: #000000 !important;
    text-decoration: none;
}

.Article
{
   z-index: 0;
   position: relative; 
   color: #000000;
}

.ArticleContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 18px 18px 18px 18px;
}

.Article a
{
   color: #605106;
text-decoration: underline;
}

.Article a:visited
{
   color: #605106;
text-decoration: underline;
}

.Article a:hover
{
   color: #000000;
text-decoration: none;
}

.ArticleTL, .ArticleTR, .ArticleBL, .ArticleBR, .ArticleL, .ArticleT, .ArticleR, .ArticleB, .ArticleC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.ArticleTL, .ArticleTR, .ArticleBL, .ArticleBR
{
   width: 22px;
   height: 22px;
}
.ArticleTL
{
   top: 0;
   right: 0;
   background-image: url('images/ArticleCorners.png');
}

.ArticleTR div, .ArticleBL div, .ArticleBR div
{
    height: 44px;
    width:  44px;
    position: absolute;
    z-index: -1;
    background-image: url('images/ArticleCorners.png');
}

.ArticleTR div
{
    right: -22px;
}

.ArticleBL div
{
    top: -22px;
}

.ArticleBR div
{
    right: -22px;
    top: -22px;
}

.ArticleTR
{
   top: 0;
   left: 0;
}
.ArticleBL
{
   bottom: 0;
   right: 0;
}
.ArticleBR
{
   bottom: 0;
   left: 0;
}
.ArticleT, .ArticleB
{
   right: 22px;
   left: 22px;
   height: 22px;
}


.ArticleT
{
   top: 0;
   background-image: url('images/ArticleHorizontal.png');
}

.ArticleB
{
   bottom: 0;
}

.ArticleB div
{
    position: absolute;
    z-index: -1;
    top: -22px;
    height: 44px;
    width: 100%;
    background-image: url('images/ArticleHorizontal.png');
}

.ArticleL, .ArticleR
{
   top: 22px;
   bottom: 22px;
   width: 22px;
}
.ArticleL
{
   right: 0;
   background-image: url('images/ArticleVertical.png');
}
.ArticleR
{
   left: 0;
}
.ArticleR div
{
    position: absolute;
    z-index: -1;
    right: -22px;
    width: 44px;
    height: 100%;
    background-image: url('images/ArticleVertical.png');
}
.ArticleC
{
   right: 22px;
   top: 22px;
   left: 22px;
   bottom: 22px;
   background-image: url('images/ArticleCenter.png');
}

.Block
{
   z-index: 0;
   position: relative;    margin: 5px;
   color: #000000;
}

.BlockContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 10px 10px 10px 10px;
}

.Block a
{
   color: #605106;
text-decoration: underline;
}

.Block a:visited
{
   color: #605106;
text-decoration: underline;
}

.Block a:hover
{
   color: #000000;
text-decoration: none;
}

.BlockTL, .BlockTR, .BlockBL, .BlockBR, .BlockL, .BlockT, .BlockR, .BlockB, .BlockC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.BlockTL, .BlockTR, .BlockBL, .BlockBR
{
   width: 12px;
   height: 12px;
}
.BlockTL
{
   top: 0;
   right: 0;
   background-image: url('images/BlockCorners.png');
}

.BlockTR div, .BlockBL div, .BlockBR div
{
    height: 24px;
    width:  24px;
    position: absolute;
    z-index: -1;
    background-image: url('images/BlockCorners.png');
}

.BlockTR div
{
    right: -12px;
}

.BlockBL div
{
    top: -12px;
}

.BlockBR div
{
    right: -12px;
    top: -12px;
}

.BlockTR
{
   top: 0;
   left: 0;
}
.BlockBL
{
   bottom: 0;
   right: 0;
}
.BlockBR
{
   bottom: 0;
   left: 0;
}
.BlockT, .BlockB
{
   right: 12px;
   left: 12px;
   height: 12px;
}


.BlockT
{
   top: 0;
   background-image: url('images/BlockHorizontal.png');
}

.BlockB
{
   bottom: 0;
}

.BlockB div
{
    position: absolute;
    z-index: -1;
    top: -12px;
    height: 24px;
    width: 100%;
    background-image: url('images/BlockHorizontal.png');
}

.BlockL, .BlockR
{
   top: 12px;
   bottom: 12px;
   width: 12px;
}
.BlockL
{
   right: 0;
   background-image: url('images/BlockVertical.png');
}
.BlockR
{
   left: 0;
}
.BlockR div
{
    position: absolute;
    z-index: -1;
    right: -12px;
    width: 24px;
    height: 100%;
    background-image: url('images/BlockVertical.png');
}
.BlockC
{
   right: 12px;
   top: 12px;
   left: 12px;
   bottom: 12px;
   background-image: url('images/BlockCenter.png');
}

.BlockHeader
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/BlockHeaderAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 27px;
    padding: 0px 18px 0px 0px;
    display: block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.BlockHeader span
{
    border:0;
    margin:0;
    background: transparent url('images/BlockHeader.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FFFFFF;
    line-height: 17px;
}

.BlockHeader span
{
    padding: 5px 0px 5px 18px;
}



.BlockHeader
{
    font-weight: bold;
    margin: 0px 0px 7px 0px;
}

.BlockContentBorder { padding: 5px; }

.Button, .ButtonInput
{
    border:0;
    margin: 3px 0px;
    background: transparent url('images/ButtonAnchor.png') no-repeat  right bottom;
    position:relative;
    overflow: hidden;
    height: 27px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
    vertical-align:middle;
    zoom: 1;
}

.Button span, .ButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/Button.png') no-repeat left bottom;
    display:block;
    position:relative;
    color: #666666;
    padding: 0px 18px 0px 0px;	
    line-height: 17px;
    vertical-align:middle;	
}

.Button span
{
    padding: 5px 0px 5px 18px;
}

.ButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:27px;
}

.ButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 27px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.ButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.Button, .Button:link, .Button:visited, .Button:hover, .Button:active
{
    text-decoration: none !important;
    outline: none;
}

.Button:hover, .ButtonInput:hover
{
    background-position: right center;
}

.Button:hover span, .ButtonInput:hover span
{
    background-position: left center;
    color: #000000;
}

.Button:active, .ButtonInput:active
{
    background-position: left bottom;
}

.Button:active span, .ButtonInput:active span
{
    background-position: right bottom;
    color: #000000;
} 

.Footer
{
   color: #000000;   
   text-align: Center;
   background: url('images/Footer.png') bottom right;
   overflow: hidden;
   padding: 5px 9px;
}

.Footer a
{
   color: #000000;
text-decoration: underline;
}

.Footer a:visited
{
   color: #000000;
text-decoration: underline;
}

.Footer a:hover
{
   color: #000000;
text-decoration: none;
}

.RushTideLink
{
    text-align:center;
    display:block;
    display:block;
    font-size:11px;
    padding:0 0 12px;
    color: #000000;
}
.RushTideLink a
{
    color: #000000;
}

.noun
{
background-color:#006600;
}

.v ,.verb, .arabic
{
background-color:rgb(194,247,185);
}
.v1, .verbcontext
{
background-color:rgb(145,240,128);
}
.n, .noun 
{
background-color:rgb(234,220,94);
}
.n1, .nouncontext
{
background-color:#ffff6c;
}
.nv, .vn, .vn1 , .latin
{
background-color:#ffffff;
}
.t, .tool
{
background-color:rgb(255,185,185);
}
.tashkeel
{
   font-family: "Traditional Arabic", Arial, Helvetica, Sans-Serif;
    text-align:right;
    font-size:30px;

}
.vocalized:hover, .vo :hover
{
background-color:rgb(250,252,218);
}
.txkl /* tashkeel select*/
{
border:none;
   font-family: "Traditional Arabic", Arial, Helvetica, Sans-Serif;
    text-align:right;
    font-size:30px;
	background-color:rgb(226,226,226);
}

=======
body
{
direction:rtl;
   font-family: Calibri, "Trebuchet MS", Arial, Helvetica, Sans-Serif;
   margin: 0;
   background: #FCFCFC;
   color: #000000;
   background: #FCFCFC;}

ul
{
    -moz-padding-start: 0px;
    margin: 0;
    padding-right: 15px;
}

.BodyContent
{
   position: relative;
   right: 0px;
   top: 0px;
   width: 100%;
   margin: 0px auto 0px auto;
}

.BackgroundGradient
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('images/BackgroundGradient.png') repeat-x;
}
.Border
{
   width: 900px;
   margin: 10px auto;
}

.Border
{
   z-index: 0;
   position: relative; 
   color: #000000;
}

.BorderContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 8px 8px 8px 8px;
}

.Border a
{
   color: #2A2402;
text-decoration: underline;
}

.Border a:visited
{
   color: #2A2402;
text-decoration: underline;
}

.Border a:hover
{
   color: #000000;
text-decoration: none;
}

.BorderTL, .BorderTR, .BorderBL, .BorderBR, .BorderL, .BorderT, .BorderR, .BorderB, .BorderC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.BorderTL, .BorderTR, .BorderBL, .BorderBR
{
   width: 22px;
   height: 22px;
}
.BorderTL
{
   top: 0;
   right: 0;
   background-image: url('images/BorderCorners.png');
}

.BorderTR div, .BorderBL div, .BorderBR div
{
    height: 44px;
    width:  44px;
    position: absolute;
    z-index: -1;
    background-image: url('images/BorderCorners.png');
}

.BorderTR div
{
    right: -22px;
}

.BorderBL div
{
    top: -22px;
}

.BorderBR div
{
    right: -22px;
    top: -22px;
}

.BorderTR
{
   top: 0;
   left: 0;
}
.BorderBL
{
   bottom: 0;
   right: 0;
}
.BorderBR
{
   bottom: 0;
   left: 0;
}
.BorderT, .BorderB
{
   right: 22px;
   left: 22px;
   height: 22px;
}


.BorderT
{
   top: 0;
   background-image: url('images/BorderHorizontal.png');
}

.BorderB
{
   bottom: 0;
}

.BorderB div
{
    position: absolute;
    z-index: -1;
    top: -22px;
    height: 44px;
    width: 100%;
    background-image: url('images/BorderHorizontal.png');
}

.BorderL, .BorderR
{
   top: 22px;
   bottom: 22px;
   width: 22px;
}
.BorderL
{
   right: 0;
   background-image: url('images/BorderVertical.png');
}
.BorderR
{
   left: 0;
}
.BorderR div
{
    position: absolute;
    z-index: -1;
    right: -22px;
    width: 44px;
    height: 100%;
    background-image: url('images/BorderVertical.png');
}
.BorderC
{
   right: 22px;
   top: 22px;
   left: 22px;
   bottom: 22px;
   background-image: url('images/BorderCenter.png');
}

.Header
{
   position: relative;
   background-image: url('images/Header.png');
   background-repeat: no-repeat;
   padding: 0px;  
   height: 150px;
   color: #FFFFFF;
}

.HeaderTitle
{
   height: 150px;
   width: 900px;
   display: table-cell;
   text-align: Default;
   vertical-align: Top;
}

.HeaderTitle h1 a, .HeaderTitle h1 a:link, .HeaderTitle h1 a:visited, .HeaderTitle h1 a:hover  
{
   text-decoration: none;
   color: #FFFFFF;
}

.HeaderTitle h1
{  
   margin: 0px;
   padding: 0px 8px; 
}

.HeaderTitle h2
{
   margin: 0px;
   padding: 0px 8px; 
}

.Menu
{
   background: transparent url('images/MenuBar.png') no-repeat;
   padding: 0px 9px 0px 9px;
   margin: 0px;
   text-align: Default;
}

.Menu ul
{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   color: #FCFAF3;
}

.Menu li
{
   display: inline;
   padding: 0px;
   margin: 0px;
}

.MenuButton, .MenuButtonInput
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/MenuButtonAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 35px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.MenuButton span, .MenuButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/MenuButton.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FCFAF3;
    line-height: 15px;
}

.MenuButton span
{
    padding: 10px 0px 10px 18px;
}

.MenuButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:35px;
}

.MenuButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 35px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.MenuButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.MenuButton, .MenuButton:link, .MenuButton:visited, .MenuButton:hover, .MenuButton:active
{
    text-decoration: none !important;
    outline: none;
}

.MenuButton:hover, .MenuButtonInput:hover
{
    background-position: right center;
}

.MenuButton:hover span, .MenuButtonInput:hover span
{
    background-position: left center;
    color: #FFFFFF;
}

.MenuButton:active, .MenuButtonInput:active
{
    background-position: right bottom;
}

.MenuButton:active span, .MenuButtonInput:active span
{
    background-position: left bottom;
    color: #000000;
} 

.ActiveMenuButton, .ActiveMenuButtonInput
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 35px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.ActiveMenuButton span, .ActiveMenuButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/ActiveMenuButton.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FCFAF3;
    line-height: 15px;
}

.ActiveMenuButton span
{
    padding: 10px 0px 10px 18px;
}

.ActiveMenuButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:35px;
}

.ActiveMenuButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 35px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.ActiveMenuButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.ActiveMenuButton, .ActiveMenuButton:link, .ActiveMenuButton:visited, .ActiveMenuButton:hover, .ActiveMenuButton:active
{
    text-decoration: none !important;
    outline: none;
}

.ActiveMenuButton:hover, .ActiveMenuButtonInput:hover
{
    background-position: right center;
}

.ActiveMenuButton:hover span, .ActiveMenuButtonInput:hover span
{
    background-position: left center;
    color: #FFFFFF;
}

.ActiveMenuButton:active, .ActiveMenuButtonInput:active
{
    background-position: right bottom;
}

.ActiveMenuButton:active span, .ActiveMenuButtonInput:active span
{
    background-position: left bottom;
    color: #000000;
} 

.Columns
{
   overflow:hidden;
}

.Column1
{
    overflow:hidden;
    float:left;
    width:20%;
}

.Column2
{
    overflow:hidden;
    float:left;
    width:20%;
}

.MainColumn
{
    overflow:hidden;
}

img
{
    border: 0px;
}

h2
{
   margin: 0px;
}

blockquote
{
    width: 80%;
    color: #000000;
    border: solid 1px #333333;
    background: #FFFFFF;
    margin: 0px auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

blockquote a, blockquote a:link
{
    color: #605106 !important;
    text-decoration: underline;
}

blockquote a:visited
{
    color: #605106 !important;
    text-decoration: underline;
}

blockquote a:hover
{
    color: #000000 !important;
    text-decoration: none;
}

.Article
{
   z-index: 0;
   position: relative; 
   color: #000000;
}

.ArticleContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 18px 18px 18px 18px;
}

.Article a
{
   color: #605106;
text-decoration: underline;
}

.Article a:visited
{
   color: #605106;
text-decoration: underline;
}

.Article a:hover
{
   color: #000000;
text-decoration: none;
}

.ArticleTL, .ArticleTR, .ArticleBL, .ArticleBR, .ArticleL, .ArticleT, .ArticleR, .ArticleB, .ArticleC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.ArticleTL, .ArticleTR, .ArticleBL, .ArticleBR
{
   width: 22px;
   height: 22px;
}
.ArticleTL
{
   top: 0;
   right: 0;
   background-image: url('images/ArticleCorners.png');
}

.ArticleTR div, .ArticleBL div, .ArticleBR div
{
    height: 44px;
    width:  44px;
    position: absolute;
    z-index: -1;
    background-image: url('images/ArticleCorners.png');
}

.ArticleTR div
{
    right: -22px;
}

.ArticleBL div
{
    top: -22px;
}

.ArticleBR div
{
    right: -22px;
    top: -22px;
}

.ArticleTR
{
   top: 0;
   left: 0;
}
.ArticleBL
{
   bottom: 0;
   right: 0;
}
.ArticleBR
{
   bottom: 0;
   left: 0;
}
.ArticleT, .ArticleB
{
   right: 22px;
   left: 22px;
   height: 22px;
}


.ArticleT
{
   top: 0;
   background-image: url('images/ArticleHorizontal.png');
}

.ArticleB
{
   bottom: 0;
}

.ArticleB div
{
    position: absolute;
    z-index: -1;
    top: -22px;
    height: 44px;
    width: 100%;
    background-image: url('images/ArticleHorizontal.png');
}

.ArticleL, .ArticleR
{
   top: 22px;
   bottom: 22px;
   width: 22px;
}
.ArticleL
{
   right: 0;
   background-image: url('images/ArticleVertical.png');
}
.ArticleR
{
   left: 0;
}
.ArticleR div
{
    position: absolute;
    z-index: -1;
    right: -22px;
    width: 44px;
    height: 100%;
    background-image: url('images/ArticleVertical.png');
}
.ArticleC
{
   right: 22px;
   top: 22px;
   left: 22px;
   bottom: 22px;
   background-image: url('images/ArticleCenter.png');
}

.Block
{
   z-index: 0;
   position: relative;    margin: 5px;
   color: #000000;
}

.BlockContent
{
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding: 10px 10px 10px 10px;
}

.Block a
{
   color: #605106;
text-decoration: underline;
}

.Block a:visited
{
   color: #605106;
text-decoration: underline;
}

.Block a:hover
{
   color: #000000;
text-decoration: none;
}

.BlockTL, .BlockTR, .BlockBL, .BlockBR, .BlockL, .BlockT, .BlockR, .BlockB, .BlockC
{
   position: absolute;
   z-index: -1;
   overflow: hidden;
}
.BlockTL, .BlockTR, .BlockBL, .BlockBR
{
   width: 12px;
   height: 12px;
}
.BlockTL
{
   top: 0;
   right: 0;
   background-image: url('images/BlockCorners.png');
}

.BlockTR div, .BlockBL div, .BlockBR div
{
    height: 24px;
    width:  24px;
    position: absolute;
    z-index: -1;
    background-image: url('images/BlockCorners.png');
}

.BlockTR div
{
    right: -12px;
}

.BlockBL div
{
    top: -12px;
}

.BlockBR div
{
    right: -12px;
    top: -12px;
}

.BlockTR
{
   top: 0;
   left: 0;
}
.BlockBL
{
   bottom: 0;
   right: 0;
}
.BlockBR
{
   bottom: 0;
   left: 0;
}
.BlockT, .BlockB
{
   right: 12px;
   left: 12px;
   height: 12px;
}


.BlockT
{
   top: 0;
   background-image: url('images/BlockHorizontal.png');
}

.BlockB
{
   bottom: 0;
}

.BlockB div
{
    position: absolute;
    z-index: -1;
    top: -12px;
    height: 24px;
    width: 100%;
    background-image: url('images/BlockHorizontal.png');
}

.BlockL, .BlockR
{
   top: 12px;
   bottom: 12px;
   width: 12px;
}
.BlockL
{
   right: 0;
   background-image: url('images/BlockVertical.png');
}
.BlockR
{
   left: 0;
}
.BlockR div
{
    position: absolute;
    z-index: -1;
    right: -12px;
    width: 24px;
    height: 100%;
    background-image: url('images/BlockVertical.png');
}
.BlockC
{
   right: 12px;
   top: 12px;
   left: 12px;
   bottom: 12px;
   background-image: url('images/BlockCenter.png');
}

.BlockHeader
{
    border:0;
    margin: 0px 0px;
    background: transparent url('images/BlockHeaderAnchor.png') no-repeat top right;
    position:relative;
    overflow: hidden;
    height: 27px;
    padding: 0px 18px 0px 0px;
    display: block;
    font-size: 15px;
    vertical-align:middle;
    zoom: 1;
}

.BlockHeader span
{
    border:0;
    margin:0;
    background: transparent url('images/BlockHeader.png') no-repeat left top;
    display:block;
    position:relative;
    color: #FFFFFF;
    line-height: 17px;
}

.BlockHeader span
{
    padding: 5px 0px 5px 18px;
}



.BlockHeader
{
    font-weight: bold;
    margin: 0px 0px 7px 0px;
}

.BlockContentBorder { padding: 5px; }

.Button, .ButtonInput
{
    border:0;
    margin: 3px 0px;
    background: transparent url('images/ButtonAnchor.png') no-repeat  right bottom;
    position:relative;
    overflow: hidden;
    height: 27px;
    padding: 0px 18px 0px 0px;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
    vertical-align:middle;
    zoom: 1;
}

.Button span, .ButtonInput span
{
    border:0;
    margin:0;
    background: transparent url('images/Button.png') no-repeat left bottom;
    display:block;
    position:relative;
    color: #666666;
    padding: 0px 18px 0px 0px;	
    line-height: 17px;
    vertical-align:middle;	
}

.Button span
{
    padding: 5px 0px 5px 18px;
}

.ButtonInput span
{
    padding: 0px 0px 0px 18px;
    height:27px;
}

.ButtonInput input
{
    font-size: 15px;
    color: inherit;
    height: 27px;
    padding: 0px 18px;
    margin: 0px -18px;
    overflow: visible;
    cursor: pointer;
    background: Transparent;
    border:  0;
    *right: -18px;
}

/* remove outline on click */
.ButtonInput::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.Button, .Button:link, .Button:visited, .Button:hover, .Button:active
{
    text-decoration: none !important;
    outline: none;
}

.Button:hover, .ButtonInput:hover
{
    background-position: right center;
}

.Button:hover span, .ButtonInput:hover span
{
    background-position: left center;
    color: #000000;
}

.Button:active, .ButtonInput:active
{
    background-position: left bottom;
}

.Button:active span, .ButtonInput:active span
{
    background-position: right bottom;
    color: #000000;
} 

.Footer
{
   color: #000000;   
   text-align: Center;
   background: url('images/Footer.png') bottom right;
   overflow: hidden;
   padding: 5px 9px;
}

.Footer a
{
   color: #000000;
text-decoration: underline;
}

.Footer a:visited
{
   color: #000000;
text-decoration: underline;
}

.Footer a:hover
{
   color: #000000;
text-decoration: none;
}

.RushTideLink
{
    text-align:center;
    display:block;
    display:block;
    font-size:11px;
    padding:0 0 12px;
    color: #000000;
}
.RushTideLink a
{
    color: #000000;
}

.result
{
background-color:#006600;
}

.noun
{
background-color:#006600;
}

.v ,.verb, .arabic
{
background-color:rgb(194,247,185);
}
.v1, .verbcontext
{
background-color:rgb(145,240,128);
}
.n, .noun 
{
background-color:rgb(234,220,94);
}
.n1, .nouncontext
{
background-color:#ffff6c;
}
.nv, .vn, .vn1 , .latin
{
background-color:#ffffff;
}
.t, .tool
{
background-color:rgb(255,185,185);
}

